@import "../../../scss/variables";
@import "../../../scss/libs/normalize";
@import "../../../scss/components/swipe";
@import "../../../scss/mixins";

.category {
  margin-bottom: 15px;
  border: 1px solid #282828;
}

.list {
  display: flex;
  flex-wrap: wrap;
  @include media(d){
    margin-right: 15px;
  }
}

.category {
  background-color: #f9f9f9;
  padding: 13px 30px;
  border-radius: 30px;
  margin-right: 10px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.1s ease-in-out;
  @include noselect();

  &_active {
    background-color: #282828;
    color: #fff;
  }
}
