@import "../../../scss/variables";

.icon,
[class*="icon_"] {
  display: inline-block;
  fill: $white;
  stroke: $white;
  stroke-width: 0;
  width: 1.5em;
  height: 1.5em;
  font-size: 16px;
  stroke-width: 1px;

  &.icon {
    &_basket {
      fill: none;
    }

    &_logo {
      fill: $black;
      stroke: $black;
    }

    &_trash {
      fill: none;
    }

    &_black {
      stroke: $black;
    }

    &_primary {
      stroke: $orange;
      fill: $orange;
    }
  }
}
