@import '../../../scss/components/skeleton';

.skeleton {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 280px;
}

.img {
  width: 250px;
  height: 250px;
  margin-bottom: 10px;
  border-radius: 50%;
}

.title {
  height: 28px;
  margin-bottom: 20px;
  border-radius: $radius;
}

.types {
  height: 88px;
  border-radius: $radius;
}

.footer {
  display: flex;
  width: 100%;
  margin-top: 20px;
  justify-content: space-between;
  align-items: center;
}

.price {
  width: 93px;
  height: 27px;
  border-radius: $radius;
}

.btn {
  width: 157px;
  height: 46px;
  border-radius: 30px;
}


