@import "../../../scss/variables";
@import "../../../scss/libs/normalize";

.cart {
}

.top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title {
  display: flex;
  align-items: center;
  font-size: 32px;

  svg {
    position: relative;
    top: -2px;
    width: 30px;
    height: 30px;
    margin-right: 10px;
    path {
      stroke: $black;
      stroke-width: 1.9;
    }
  }
}

.clear {
  display: flex;
  align-items: center;
  cursor: pointer;
  @include noselect();

  span {
    display: inline-block;
    margin-left: 7px;
    color: #b6b6b6;
    font-size: 18px;
  }

  span,
  svg,
  path {
    transition: all $duration ease-in-out;
  }
}
