@import "../../../scss/variables";
@import "../../../scss/mixins";

.header {
  border-bottom: 1px solid $gray-line;
  padding: 40px 0;
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  @include media(m) {
    flex-direction: column;
    align-items: center;
  }
}

.logo {
  display: flex;
  @include media(m) {
    margin-bottom: 15px;
  }
  svg {
    margin-right: 15px;
    width: 38px;
    height: 53px;
  }

  h1 {
    color: #181818;
    font-size: 24px;
    letter-spacing: 1%;
    text-transform: uppercase;
    font-weight: 800;
  }

  p {
    color: #7b7b7b;
  }
}
