@import "./variables";
@import "./libs/normalize";

@import "./components/all";
@import "./mixins";

body {
  background-color: $background;
}

.wrapper {
  width: calc(100vw - 100px);
  height: 100%;
  background-color: #fff;
  margin: 50px auto;
  border-radius: 10px;
  max-width: 1400px;
}

.content {
  padding: 40px 0;

  &__title {
    margin: 35px 0;
  }

  &__items {
    display: grid;
    row-gap: 30px;
    @include media(m) {
      grid-template-columns: 1fr;
    }
    @include media(d) {
      grid-template-columns: repeat(2, 1fr);
      column-gap: 50px;
    }
  }

  &C {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__top {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    @include media(m) {
      display: block;
    }
  }
}

.container {
  width: $container-width;
  margin: 0 auto;

  &_cart {
    max-width: 820px;
    margin: 90px auto;
    .content__title {
      margin: 0;
    }
  }
}
